@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #e8e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #0e0e10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
  font-family: "raleway";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.all-border {
  border-width: 1px;
  border-style: solid;
}
.border-color {
  border-color: rgb(28, 28, 33);
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-110%);
  }
}

.text-slide-animation {
  animation: slide 10s linear infinite;
}
