@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #0e0e10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
  font-family: "raleway";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.all-border {
  border-width: 1px;
  border-style: solid;
}
.border-color {
  border-color: rgb(28, 28, 33);
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.text-animation {
  animation: slideRight 2s ease forwards, slideLeft 2s ease forwards 3s;
  /* Adjust the duration and delay as needed */
}
